.avatar{
    width:20%;
    height: auto;
    padding: 1%;
    
}
.section-avatar{
    width:30%;
    padding:2%
}
.section-fighter{
    width:40%;
    padding:2%
}
.section-skills{
    width:30%;
    height:50%;
    padding:2%
}
.avatar:hover{

    transform: scale(1.2);

}
